        <footer>
            <br/>
            <hr/>
            <hr/>
            CST336 Internet Programming. &copy;,2019 Terrado <br/>
            <strong><sup>Disclaimer:</sup></strong><mark>The information on this webpage is for academic purposes only.</mark>
            <figure>
                <img src="img/logo.png" alt = "Logo of CSU Monterey Bay"/>
            </figure>
   
     
        </footer>
       
        
    </body>


</html>