<% include partials/header.ejs %>
<nav>
            <a href="/">Home</a>
            
            <a href="/cplusharp" class = currentpage>C++/C#</a>
            
            <a href="lua">Lua</a>
            
            <a href="/python">Python</a>
        </nav>
        <br/><br/>
        
        <main>
            <figure>
                <img src="/img/cppsharp.png" alt = "C++ and C# Logo"/>
                <figcaption><span class = "cblue">C++ and C#</span></figcaption>
            </figure>
            
                
                <p class ="margin">
                
                <span class = "shadowspan1">C++ and C#</span> are two object oriented languages in the C family of 
                <br/>
                of programming languages. While similar in name and in some
                <br/>
                regard, fuctionality, the application of these languages in 
                <br/>
                game development is wildly varied.
                <br/>
                <br/>
                C++ has been regarded as one of the most common languages in game
                <br/>
                development. It has been used in games such as Starcraft,
                <br/>
                Counter-Strike, and Maplestory. Due to its ability for low level
                <br/>
                functionality, the responsiveness and speed bestowed by the 
                <br/>
                language has been beneficial in creating game engines. However,
                <br/>
                this benefit is not limited to PC games. Consoles such as 
                <br/>
                Playstation and Xbox depend on C++ game code. 
                <br/>
                <br/>
                C# on the other hand has found a lot of popularity as a scripting
                <br/>
                language in popular game engines such as Unity. This language 
                <br/>
                has a programmer friendly reputation, and gives developers the 
                <br/>
                flexibility of rapidly developing games. 
                </p>
                    
                
                <p class ="source">
                For more information
                <br/>
                <a href="https://www.ubuntupit.com/best-programming-language-for-games-15-game-programming-languages-reviewed/" >Source</a>
                </p>
                
             
    
           
           </main>
<% include partials/footer.ejs %>