<% include partials/header.ejs %>
<nav>
            <a href="/" class = currentpage>Home</a>
            
            <a href="/cplusharp">C++/C#</a>
            
            <a href="lua">Lua</a>
            
            <a href="/python">Python</a>
        </nav>
        <br/><br/>
        <main>
            <figure>
                <img src="/img/mario.png" alt = "Picture of Mario"/>
                <figcaption><span class = "red">Super Mario &copy;2019 Nintendo</span> </figcaption>
            </figure>
            
                
                <p class ="margin">
                <span class="orange">
                <span class = "fontspan">
                Since the advent of video games in the 1950s,</span> computer science 
                and video games have been intrinsically connected. Through the 
                decades, innovative technology has grown with the scale and scope
                of video  games. 
                </span>
                <br/>
                <br/>
                <span class="aqua">
                Today, the modern day video game developer has a multitude
                of tools at their disposal to make their game creations come to 
                life. From art tools, to game engines, to especially programming 
                languages; game development has become a lot more accessible. 
                </span>
                <br/>
                <br/>
                <span class="yellow">
                This website will explore popular programming languages for game
                developers and share some insight in how they are used. This will
                include C++/C#, Lua, and Python.
                </span>
                <br>
                <br>
                Special thanks to <span id = fakeNameStyle> <%= fakeName %></span>, a randomly generated name.
                </p>
                
              
                <p class ="source">
                For more information 
                <br/>
                <a href="https://www.ubuntupit.com/best-programming-language-for-games-15-game-programming-languages-reviewed/" >Source</a>
                </p>
             
    
           
        </main>
<% include partials/footer.ejs %>