  <% include partials/header.ejs %>
<nav>
            <a href="/">Home</a>
            
            <a href="/cplusharp">C++/C#</a>
            
            <a href="lua">Lua</a>
            
            <a href="/python" class = currentpage>Python</a>
        </nav>
        <br/><br/>
        <main>
            <figure>
                <img src="img/python.png" alt = "Python Logo"/>
                 <figcaption><span class = "pythoncolor">Python</span></figcaption>
       
            </figure>
            
                <p class ="margin">
                <span class = "shadowspan1">Python</span> is an object oriented programming language. When
                <br/>
                it come to use in gaming, it can be used in conjunction
                <br/>
                with the Pygame framework to rapidly prototype complex games
                <br/>
                or create simple games. Python is know to be easy to use and learn.
                <br/>
                It makes for a great started language to learn basic game mechanics.
                <br/>
                <br/>
                Due to the the high level nature of the language and impact on
                <br/>
                responsiveness, Python is often used for scripting and handling
                <br/>
                tasks that may not requre low level access. 
                <br/>
                <br/>
                Games that feature Python scripting and tasks include: Civilization IV,
                <br/>
                Overwatch,World of Tanks, and Robot SAGA.
                <br/>
                <br/>
    
                <p class ="source">
                For more information
                <br/>
                <a href="https://www.ubuntupit.com/best-programming-language-for-games-15-game-programming-languages-reviewed/" >Source 1</a>
                <br/>
                <a href="https://en.wikipedia.org/wiki/List_of_Python_software" >Source 2</a> 
                <br/>
                <a href="https://www.makeuseof.com/tag/python-programming-language-downsides/" >Source 3</a> 
                </p>
    
           
          </main>
  <% include partials/footer.ejs %>